[package]
name = "cap"
version = "0.1.0"
authors = ["Clark Kampfe <clark.kampfe@gmail.com>"]
edition = "2018"

[dependencies]
dirs = "1.0"
rusqlite = "0.17"
structopt = "0.2"
time = "0.1"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
